#ban1{
    text-align: center;
    width: 75%;
    height: 150px;
    font-size: 200%;
    float: left;
}
#ban2{
    width: 25%;
    height: 150px;
    float: left;
    
}
#glowny{
    background-color: rgb(128,0,0);
    padding: 50px;
    text-transform: uppercase;
    clear: both;
}
#stop1{
    width: 20%;
    padding-bottom: 90px;
    float: left;
}
#stop3{
    width: 20%;
    padding-bottom: 90px;
    float: right;
}
#stop2{
    text-align: center;
    width: 60%;
    float: left;
}
body{
    font-family: Arial;
    background-color: rgb(244,164,96);
    color: white;
}
a{
    font-size:150%;
    border: 2px;
    border-style:dotted;
    border-color: rgb(169,169,169);
   
}
a:hover{
    background-color: rgb(169,169,169);
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr,th{
    border: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    padding: 5px;
   
}
 td{
    border: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    padding: 5px;
  
}

